html {
    height: 100%;
}

body {
    font-family: "Overpass";
    /*display: flex;*/
    /*flex-direction: row;*/
    /*height:100%;*/
    /*margin: 0;*/
}

#top-name-university {
    padding-left: 50px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
    /*flex-basis: 100%;*/
}

#top, #bottom {
    position: fixed;
    left: 0;
    right: 0;
    /*height: 50%;*/
}

#top {
    top: 0;
    background-color: orange;
}

#bottom {
    bottom: 0;
    background-color: green;
}

section {
    margin: 0 30px 0 30px;
}

hr {
    border: 1px solid cornflowerblue;
    margin-left: 0;
    width: 70%;
}

h2 {
    font-family: "Roboto";
}

ul li {
    margin-bottom: 5px;
}

h2, div > h3, #top-name-university > p {
    font-family: "Roboto";
}

#candidate-name {
    margin: 0;
    font-size: 30px;
    font-weight: 500;
}

#candidate-university {
    margin-top: 10px;
    font-size: 20px;
    color: dodgerblue;
}